@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
        url('../fonts/JF-Flat-regular.svg#FJ Flat Regular') format('svg'),
        url(../fonts/JF-Flat-regular.woff) format('woff');        
    font-weight: bolder;
    font-size:normal;
}

body {
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.custom-navbar {
    border-bottom: 3px solid #F7F8F3;
    width: 100%;
    background-color: #FFF;
    padding: 15px 0;
}

.custom-form-control ,.custom-btn
{
    border: 1px solid #EBEBEB;
    box-shadow: none  !important;
    border-radius: 2px;
    color: #868668;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all 0.3s ease;
    
}

.custom-form-control:focus{
    border-color: #c2101e;
    box-shadow: 0 0 2px 0 #c2101e;
}
.custom-btn:hover{
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #ff3959;
}
.custom-btn:focus{
    color: #ff3959;
}

.categories{
    border-right: 0 !important;
    border-radius: 0;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #ebebeb;
    color: #777;
}
.custom-dropdown-menu li a:hover {
    background-color: #ffe7ea;
}

.search-btn {
    background: #ff3959;
    border-color: #ff3959;
    color: #fff;
    padding: 5px 15px 7px;
    height: 38px;
    width: 65px;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    
}
.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:hover,
.search-btn:active:focus
{
    background-color: #c2101e;
    color: #fff;
    border-color: #c2101e;
}

.collapse .navbar-nav .nav-item .nav-link {
    color: #555555;
    font-size: 14px;
    padding: 15px;
    font-weight: 600;
}

.custom-navbar .navbar-nav li.active a.nav-link{
    color: #ff3959;
    font-size: 700 ;
    border-bottom: 1px solid #ff3959;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color: #e7e7e7;
}

.ustom-dropdown-menu li a:hover {
    background-color: #ffe7ea;
}

.custom-navbar .navbar-nav li a.btn-icon{
    color: #777;
    font-size: 14px;
    padding:5px 10px;
    border:2px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    margin-right: 15px;
    
}
/* -----------------------نهاية القائمة العلوية  */

#carousel-featured {
    background-color: rgb(247, 248, 243);
    height: 400px;
    padding-top:25px;
}

#carousel-featured .carousel-item img {
    height: 375px;
}

#carousel-featured .product-details{
    background-color: rgb(247, 248, 243);
    border: 1px solid #DDDDDB;
    padding: 20px;
    height: 200px;
    position: relative;
    top: 50px;

}

#carousel-featured .product-details h1 {
    margin-top: 18px;
    font-weight: 700;
    font-size: 175%;
}

/* #carousel-featured .product-details a.custom-btn-outline-warning{
    background-color: transparent;
    color: rgb(248, 173, 71);
    border-color: rgb(248, 173, 71);
} */
a.custom-btn-outline-warning{
    background-color: transparent;
    color: rgb(248, 173, 71);
    border-color: rgb(248, 173, 71);
}


/* #carousel-featured .product-details a.custom-btn-outline-warning:hover,
#carousel-featured .product-details a.custom-btn-outline-warning:active,
#carousel-featured .product-details a.custom-btn-outline-warning:focus,
#carousel-featured .product-details a.custom-btn-outline-warning:active:hover,
#carousel-featured .product-details a.custom-btn-outline-warning:active:focus
{
    background-color: transparent;
    color: rgb(184, 109, 7);
    border-color: rgb(184, 109, 7);
} */
a.custom-btn-outline-warning:hover,
a.custom-btn-outline-warning:active,
a.custom-btn-outline-warning:focus,
a.custom-btn-outline-warning:active:hover,
a.custom-btn-outline-warning:active:focus
{
    background-color: transparent;
    color: rgb(184, 109, 7);
    border-color: rgb(184, 109, 7);
}


#carousel-featured .product-details .product-category{
    background-color: rgb(247, 248, 243);
    position: absolute;
    border: 1px solid #DDDDDB;
    padding: 10px;
    top: -10px;
    right: -10px;
}

.sale {
    color: #fff;
    background-color: #53CCD7;
    font-weight: bold;
    position: absolute;
}

.sale.large{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: -15px;
    left: -15px;
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
}

.custom-carousel-indications{
    top: 230px;
    right: 31%;
}

#carousel-featured .carousel-indicators img.custom-carousel-indications-primary{
    height: 70px !important;
    width: 70px !important;
    border: 2px solid #DDDDDB;
    margin: 0 5px !important;
    opacity: .8 !important;
}

#carousel-featured .carousel-indicators img.custom-carousel-indications-primary.active{
    border-color: rgb(248, 173, 71);
    opacity: 1 !important;
}

#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left{
    font-size: 38px;
    color: rgb(134, 134, 134);
}

/* features-store */
#store-features {
    box-shadow: 0 0 15px 0 #EEF0EA;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-color: #fff;
    background-position: -10px -20px;
    padding-top: 25px;
    padding-bottom: 35px;
    position: relative;
    bottom: 40px;
    
}

/* #store-features .features:not(:first-child){
    border-right: 1px solid #EEF0EA;
} */
#store-features .features+.features{
    border-right: 1px solid #EEF0EA;
}

#store-features .features h3{
    font-size: 24px;
    margin-bottom: 25px;
}

#store-features .features img{
    height: 40px;
    margin-bottom: 10px;
}

/* نهاية قسم مميزات المتجر  */

.heading{
    font-size: 24px;
    margin-bottom: 25px;
}


.custom-thumbnail img{
    height: 250px;
    width: 100%;
    max-width: 250px;
}

.custom-thumbnail {
    border: 2px solid #EEF0EA;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 50px;
}

.custom-thumbnail:hover {
    border: 2px solid #53CCD7;
}

.custom-thumbnail .clearfix h4{
    font-size: 18px;
}

/* .custom-thumbnail .clearfix .price{
    color: #53CCD7;
} */
.price{
    color: #53CCD7;
}

.custom-thumbnail .rating{
    color: #c2c2c2;
}

/* .custom-thumbnail .rating .active{
    color: #f3af41;

} */
.rating .active{
    color: #f3af41;

}

.overlay {
    background-color:rgba(83, 204, 215, .5);
    position: absolute;
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
    
}

.overlay:hover{
    opacity: 1;
}

.overlay .add-to-cart-btn{
    color: #53CCD7;
    background-color: #fff;
    font-weight: 700;
}

.custom-thumbnail .sale{
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
}

.custom-thumbnail .sale::after{
    content: "-";

}

.custom-carousel-indicators2>li{
    height: 13px !important;
    width: 13px !important;
    margin: 2px !important;
    background-color: #dbdbdb !important;
    list-style: none;
}

.custom-carousel-indicators2>li.active{
    background-color: #53CCD7 !important;
}

.custom-carousel-indicators2{
    bottom: -15px;
}

/* ---------------------------------- parte3 */
#row-brands h3.heading{
    border-top: 1px solid #eef0ea;
    padding-top: 20px;
}
.pannel{
    padding: 0 8px;
    margin-bottom: 20px;
    border-radius:2px;
    border: 4px solid #eef0ea;
}

.pannel .carousel{
    padding: 20px;
}

.pannel .carousel-inner .clearfix h4,
.pannel .carousel-inner .clearfix .price
{
    font-size: 130%;
    margin-bottom: 15px;
}

.pannel .carousel-inner .custom-text-muted{
    color: #a9a9a9;
}

.pannel .carousel-inner .col-8{
    padding: 0 12px;
}



.pannel .carousel-inner .col-4{
    padding: 0 12px;
}

.pannel .carousel-inner .col-4 a{
    margin-bottom: 12px;
}

.pannel .carousel-inner .col-4 img{
    margin-bottom: 12px;
    height: 145px;
    width: 181px;
}

.arrow-btn {
    border: 1px solid #ebebeb;
    color: #868686;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 2px;
}
.arrow-btn:hover{
    border:1px solid #8c8c8c;

}

/* ------------------------------- */


